.background{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/background.jpg');
}

.dvLogin{
	background-color: #ffffff;
	margin: 50px auto;
	padding: 20px 0px 20px 0px;
}

.title1, .title2{
	color: #2980b9;
	font-weight: bold;
	padding: 0px;
	margin: 15px 0px 15px 0px;
}

.title1{ font-size: 60px; }
.title2{ font-size: 30px; }

.obrigatorio{ color: red; }

.form-control, button{
	height: 50px;
	font-size: 22px;
}

@media screen and (min-width: 500px) {
	.dvLogin{
		margin: 50px auto;
		width: 100%;
	}
	.title1{
		font-size: 50px;
	}
	.title2{
		font-size: 25px;
	}
	.form-control, button{
		height: 40px;
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	.dvLogin{
		margin: 250px auto;
		width: 50%;
	}
	.title1{
		font-size: 50px;
	}
	.title2{
		font-size: 30px;
	}
	.form-control, button{
		height: 50px;
		font-size: 22px;
	}
}

@media screen and (min-width: 1000px) {
	.dvLogin{
		margin: 50px auto;
		width: 25%;
	}
	.title1{
		font-size: 1.5vw;
	}
	.title2{
		font-size: 2.3vw;
	}
	.form-control, button{
		height: 30px;
		font-size: 15px;
	}
}