.sidebarmobile{
	position: fixed;
	z-index: 9999;
	width: 300px;
	background-color: #F8F8F8;
	min-height: 2000px;
	display: none;
	-webkit-box-shadow: 7px 1px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 1px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 1px 12px 0px rgba(50, 50, 50, 0.75);
}

.sidebarmobile a{
	font-size: 20px;
}

.ccbr-title{
	font-size: 30px;
	padding: 0;
	margin: 0;
}