/*****   TELA DE LOGIN ******/
.boxLogin{
	background-color: #FFFFFF;
	margin: 50px auto;
	width: 100%;
	height: 320px;
	padding: 10px;
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
}

.boxLogin2{
	margin: 0 auto;
	width: 350px;
}

/***** FIM - TELA DE LOGIN ******/


body{
	background-color: #ececec;
	margin: 0;
	padding: 0;
	
}

.exibir-em-cima{
	top: 0;
	width: 900px;
	height: auto;
	position: fixed;
	background-color: #fff;
	/*border:1px solid #000;*/
	z-index: 9999;
	display:none;
	-moz-box-shadow: 0px 0px 50px #000000;
	-webkit-box-shadow: 0px 0px 50px #000000;
	box-shadow: 0px 0px 50px #000000;
	margin-left: 50%;
	left: -450px;
}

.fundopreto{
	position: fixed;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: 1;
	left: 0px;
	top: 0px;
	display: none;
}

.ui-datepicker-month, .ui-datepicker-year{
	color: #000;
}

.asteristico{
	color: red;
	font-weight: bold;
}

.setflash{
	display: none;
	max-width: 470;
	max-height: 120px;
	position: fixed;
	z-index: 9999;
	right: 33px;
	bottom: 0px;

	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;

	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

.setFlash > .panel-heading{
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}