@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 15px;
	font-style: normal;
	margin: 0px 5px 0px 5px;
}.flaticon-objetivos:before {
	content: "\e000";
}
.flaticon-form-check:before {
	content: "\e001";
}
.flaticon-chart-barra:before {
	content: "\e002";
}
.flaticon-banner:before {
	content: "\e003";
}
.flaticon-calendario:before {
	content: "\e004";
}
.flaticon-configuracoes:before {
	content: "\e005";
}
.flaticon-comentarios:before {
	content: "\e006";
}
.flaticon-backup:before {
	content: "\e007";
}
.flaticon-chart-moeda:before {
	content: "\e008";
}
.flaticon-sair:before {
	content: "\e009";
}
.flaticon-gmail:before {
	content: "\e00a";
}
.flaticon-exportar:before {
	content: "\e00b";
}
.flaticon-visualizar:before {
	content: "\e00c";
}
.flaticon-form:before {
	content: "\e00d";
}
.flaticon-google-plus:before {
	content: "\e00e";
}
.flaticon-endereco:before {
	content: "\e00f";
}
.flaticon-hierarquia:before {
	content: "\e010";
}
.flaticon-licitacao:before {
	content: "\e011";
}
.flaticon-home:before {
	content: "\e012";
}
.flaticon-chart-ponto:before {
	content: "\e013";
}
.flaticon-instagram:before {
	content: "\e014";
}
.flaticon-internet:before {
	content: "\e015";
}
.flaticon-chave:before {
	content: "\e016";
}
.flaticon-licitacao2:before {
	content: "\e017";
}
.flaticon-like:before {
	content: "\e018";
}
.flaticon-facebook:before {
	content: "\e019";
}
.flaticon-refresh:before {
	content: "\e01a";
}
.flaticon-pesquisar:before {
	content: "\e01b";
}
.flaticon-email:before {
	content: "\e01c";
}
.flaticon-menu:before {
	content: "\e01d";
}
.flaticon-open:before {
	content: "\e01e";
}
.flaticon-monitor:before {
	content: "\e01f";
}
.flaticon-fone:before {
	content: "\e020";
}
.flaticon-chart-pizza:before {
	content: "\e021";
}
.flaticon-busca-avanca:before {
	content: "\e022";
}
.flaticon-relatorios:before {
	content: "\e023";
}
.flaticon-gerenciamento:before {
	content: "\e024";
}
.flaticon-usuarios:before {
	content: "\e025";
}
.flaticon-empresa:before {
	content: "\e026";
}
.flaticon-tabela:before {
	content: "\e027";
}
.flaticon-suporte:before {
	content: "\e028";
}
.flaticon-twitter:before {
	content: "\e029";
}
.flaticon-user:before {
	content: "\e02a";
}
.flaticon-whatsapp:before {
	content: "\e02b";
}
