    /*
    Flaticon icon font: Flaticon
    Creation date: 17/05/2017 16:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-manager:before { content: "\f100"; }
.flaticon-scan-barcode1:before { content: "\f101"; }
.flaticon-scan-barcode2:before { content: "\f102"; }
.flaticon-cut2:before { content: "\f103"; }
.flaticon-crop:before { content: "\f104"; }
.flaticon-quality1:before { content: "\f105"; }
.flaticon-quality2:before { content: "\f106"; }
.flaticon-repair1:before { content: "\f107"; }
.flaticon-repair2:before { content: "\f108"; }
.flaticon-repair3:before { content: "\f109"; }
.flaticon-ethernet1:before { content: "\f10a"; }
.flaticon-ethernet2:before { content: "\f10b"; }
.flaticon-station:before { content: "\f10c"; }
.flaticon-box1:before { content: "\f10d"; }
.flaticon-car-box:before { content: "\f10e"; }
.flaticon-box2:before { content: "\f10f"; }
.flaticon-machine-3dprinter:before { content: "\f110"; }
.flaticon-engineer:before { content: "\f111"; }
.flaticon-unlocked:before { content: "\f112"; }
.flaticon-locked:before { content: "\f113"; }
.flaticon-locked2-1:before { content: "\f114"; }
.flaticon-locked2:before { content: "\f115"; }
.flaticon-stock:before { content: "\f116"; }
.flaticon-worker-loading-boxes:before { content: "\f117"; }
.flaticon-warehouse:before { content: "\f118"; }
.flaticon-bar-chart:before { content: "\f119"; }
.flaticon-pie-chart:before { content: "\f11a"; }
.flaticon-line-chart:before { content: "\f11b"; }
.flaticon-newspaper:before { content: "\f11c"; }
.flaticon-choice:before { content: "\f11d"; }
.flaticon-barcode-lines:before { content: "\f11e"; }
.flaticon-production-line:before { content: "\f11f"; }
.flaticon-motherboard:before { content: "\f120"; }
.flaticon-motherboard2:before { content: "\f121"; }
.flaticon-pendrive1:before { content: "\f122"; }
.flaticon-pendrive2:before { content: "\f123"; }
.flaticon-ssd-card:before { content: "\f124"; }
.flaticon-balance:before { content: "\f125"; }
    
    $font-Flaticon-manager: "\f100";
    $font-Flaticon-scan-barcode1: "\f101";
    $font-Flaticon-scan-barcode2: "\f102";
    $font-Flaticon-cut2: "\f103";
    $font-Flaticon-crop: "\f104";
    $font-Flaticon-quality1: "\f105";
    $font-Flaticon-quality2: "\f106";
    $font-Flaticon-repair1: "\f107";
    $font-Flaticon-repair2: "\f108";
    $font-Flaticon-repair3: "\f109";
    $font-Flaticon-ethernet1: "\f10a";
    $font-Flaticon-ethernet2: "\f10b";
    $font-Flaticon-station: "\f10c";
    $font-Flaticon-box1: "\f10d";
    $font-Flaticon-car-box: "\f10e";
    $font-Flaticon-box2: "\f10f";
    $font-Flaticon-machine-3dprinter: "\f110";
    $font-Flaticon-engineer: "\f111";
    $font-Flaticon-unlocked: "\f112";
    $font-Flaticon-locked: "\f113";
    $font-Flaticon-locked2-1: "\f114";
    $font-Flaticon-locked2: "\f115";
    $font-Flaticon-stock: "\f116";
    $font-Flaticon-worker-loading-boxes: "\f117";
    $font-Flaticon-warehouse: "\f118";
    $font-Flaticon-bar-chart: "\f119";
    $font-Flaticon-pie-chart: "\f11a";
    $font-Flaticon-line-chart: "\f11b";
    $font-Flaticon-newspaper: "\f11c";
    $font-Flaticon-choice: "\f11d";
    $font-Flaticon-barcode-lines: "\f11e";
    $font-Flaticon-production-line: "\f11f";
    $font-Flaticon-motherboard: "\f120";
    $font-Flaticon-motherboard2: "\f121";
    $font-Flaticon-pendrive1: "\f122";
    $font-Flaticon-pendrive2: "\f123";
    $font-Flaticon-ssd-card: "\f124";
    $font-Flaticon-balance: "\f125";