/* ################################################################## */
/* ################################################################## */
/*
estilo para a div do alert no canto da tela
pode conferir da chamada no arquivo padrao.js, nome da função: alert2;
*/

.alert-msg-pai{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0px 10px 0px 10px;
	/* z-index: 1100; */
	z-index: 999999;
	width: 96%;
}

@media screen and (min-width: 768px) {
	.alert-msg-pai{
		width: 40%;
	}
}

/* ################################################################## */
/* ################################################################## */