.fab {
	cursor: pointer;
}
.fab-backdrop {
	color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
	transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
	opacity: 0;
	transform: rotate(225deg);
}
.fab-secondary {
	opacity: 0;
	transform: rotate(-225deg);
}
.fab.active .fab-secondary {
	opacity: 1;
	transform: rotate(0);
	margin-top: -2px;
}

#inbox .show-on-hover:hover > ul.dropdown-menu {
	display: block;    

}
#inbox .show-on-hover {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
#inbox .btn-io{
	border-radius: 50%;
	height: 54px;
	width: 54px;
	padding: 0 !important;
	box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
	margin-bottom: -5px;
	padding-bottom: 30px;
}
#inbox .dropdown-menu-right {
	right: 0 !Important;
	left: auto !Important;
}
#inbox .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 50px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: center;
	list-style: none;
	background-color: rgba(255, 255, 255, 0) !Important;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}
#inbox .fa-iox{
	font-size: 22px;
}
#inbox .dropdown-menu > li > button {
	display: block;
	padding: 0;
	padding-top: 4px;
	margin-top: 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	background: #fff;
	white-space: nowrap;
	width: 40px;
	height: 40px;
	border: solid 1px #ccc;
	border-radius: 50px;
	font-size: 21px;
	box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
#inbox .dropdown-menu > li:first-child>button {
	background: #6E4320 !important;
	color: #fff !important;
}
#inbox .dropdown-menu > li:last-child>button {
	background: #D3A516;
	color: #fff;
}
#inbox .dropdown-menu > li:nth-child(3)>button {
	background: #3C80F6;
	color: #fff;
}
#inbox .dropdown-menu > li:nth-child(2)>button {
	background: #2CAC26;
	color: #fff;
}
#inbox .fa-iosm{
	margin-top: 7px;
}