.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 4px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-blue{ border-left: 4px solid #3498db !important; }
.bd-callout-red{ border-left: 4px solid #e74c3c !important; }
.bd-callout-yellow{ border-left: 4px solid #f39c12 !important; }
.bd-callout-green{ border-left: 4px solid #2ecc71 !important; }
.bd-callout-green-dark{ border-left: 4px solid #16a085 !important; }
.bd-callout-purple{ border-left: 4px solid #8e44ad !important; }
.bd-callout-black{ border-left: 4px solid #2c3e50 !important; }
.bd-callout-gray{ border-left: 4px solid #696969 !important; }
.bd-callout-white{ border-left: 4px solid #fffff !important; }