﻿.brand{
	width: 250px;
	padding: 0; 
	margin: 0;
	border-bottom: 1px solid #ffffff;
}

.brand>a{
	font-weight: bold;
	font-size: 30px;
	color: #2980b9 !important;
	text-decoration: none !important;
	padding: 0;
	margin: 0;
}

.navbar-header{
	background-color: #ffffff;
}

.sidebarmobile .navbar-header{
	width: 100%;
}

.navbar-default{
	background-color: #2980b9 !important;
}

.navbar-default .navbar-top-links .dropdown-toggle{
	color: #ffffff;
}

.topbar .nav > li > a:hover, .topbar .nav > li > a:focus {
  text-decoration: none;
  background-color: #3498db;
}

.blue{ color: #3498db; }
.red{ color: #e74c3c; }
.yellow{ color: #f39c12; }
.orange{ color: #d35400; }
.green{ color: #2ecc71; }
.green-dark{ color: #16a085; }
.purple{ color: #8e44ad; }
.black{ color: #2c3e50; }
.gray{ color: #696969; }
.white{ color: #ffffff !important; }

.btnMenuHide{
	float: left;
	position: absolute;
	margin: 8px 0px 0px 8px;
	padding: 10px 15px;
}

/* TABELA COM MUITOS DADOS */
.table-condensed2 > thead > tr > th, .table-condensed2 > tbody > tr > td{
	padding: 1px;
}

.generatelabel img{
	max-width: 100%;
	max-height: 600px;
	-webkit-box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.68);
	-moz-box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.68);
	box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.68);
	border: 1px solid darkgray;
}

.footer-mobile{
	position: fixed;
	z-index: 99999;
	bottom: 0;
	background-color: #007054 !important;
}

.btnFloat{
    padding: 8px 8px !important;
    font-size: 28px !important;
}