	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/05/2017 16:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts-ccbr/Flaticon.eot");
  src: url("../fonts-ccbr/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts-ccbr/Flaticon.woff") format("woff"),
       url("../fonts-ccbr/Flaticon.ttf") format("truetype"),
       url("../fonts-ccbr/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts-ccbr/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
  font-weight: normal;
  /* font-size: 18px; */
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-manager:before { content: "\f100"; }
.flaticon-scan-barcode1:before { content: "\f101"; }
.flaticon-scan-barcode2:before { content: "\f102"; }
.flaticon-cut2:before { content: "\f103"; }
.flaticon-crop:before { content: "\f104"; }
.flaticon-quality1:before { content: "\f105"; }
.flaticon-quality2:before { content: "\f106"; }
.flaticon-repair1:before { content: "\f107"; }
.flaticon-repair2:before { content: "\f108"; }
.flaticon-repair3:before { content: "\f109"; }
.flaticon-ethernet1:before { content: "\f10a"; }
.flaticon-ethernet2:before { content: "\f10b"; }
.flaticon-station:before { content: "\f10c"; }
.flaticon-box1:before { content: "\f10d"; }
.flaticon-car-box:before { content: "\f10e"; }
.flaticon-box2:before { content: "\f10f"; }
.flaticon-machine-3dprinter:before { content: "\f110"; }
.flaticon-engineer:before { content: "\f111"; }
.flaticon-unlocked:before { content: "\f112"; }
.flaticon-locked:before { content: "\f113"; }
.flaticon-locked2-1:before { content: "\f114"; }
.flaticon-locked2:before { content: "\f115"; }
.flaticon-stock:before { content: "\f116"; }
.flaticon-worker-loading-boxes:before { content: "\f117"; }
.flaticon-warehouse:before { content: "\f118"; }
.flaticon-bar-chart:before { content: "\f119"; }
.flaticon-pie-chart:before { content: "\f11a"; }
.flaticon-line-chart:before { content: "\f11b"; }
.flaticon-newspaper:before { content: "\f11c"; }
.flaticon-choice:before { content: "\f11d"; }
.flaticon-barcode-lines:before { content: "\f11e"; }
.flaticon-production-line:before { content: "\f11f"; }
.flaticon-motherboard:before { content: "\f120"; }
.flaticon-motherboard2:before { content: "\f121"; }
.flaticon-pendrive1:before { content: "\f122"; }
.flaticon-pendrive2:before { content: "\f123"; }
.flaticon-ssd-card:before { content: "\f124"; }
.flaticon-balance:before { content: "\f125"; }